<nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">浙江机电学生信息管理系统</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-danger" [routerLink]="['/']" (click)="Logout()">退出</a>
    </nav>
</nav>

<div class="container-fluid">
    <div class="row d-flex">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar line">
            <div class="sidebar-sticky content">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            <a [routerLink]="['student']" class="no">学生用户管理</a>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            <a [routerLink]="['score']" class="no">学生成绩管理</a>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>