<!-- 底部 -->
<div class="container">

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">© 2020-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>技术来源</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://angular.cn/" target="_blank">Angular权威教程</a></li>
                    <li><a class="text-muted" href="https://v4.bootcss.com/" target="_blank">bootstrap中文网</a></li>
                    <li><a class="text-muted">教学视频</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>关于</h5>
            </div>
        </div>
    </footer>

</div>