<!-- 顶部 -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">浙江机电学生信息管理系统</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark">首页</a>
    <a class="p-2 text-dark">介绍</a>
    <a class="p-2 text-dark">更新日志</a>
    <a class="p-2 text-dark">联系我们</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary">登录</a>
  </nav>
  <a class="btn btn-outline-primary">注册</a>
</div>

<!-- 中间部分 -->
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a
        jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      </p>
      <p><a class="btn btn-primary btn-lg" href="https://v4.bootcss.com/docs/examples/jumbotron/#" role="button">Learn
          more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://v4.bootcss.com/docs/examples/jumbotron/#" role="button">View
            details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://v4.bootcss.com/docs/examples/jumbotron/#" role="button">View
            details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="https://v4.bootcss.com/docs/examples/jumbotron/#" role="button">View
            details »</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>
<!-- 底部 -->
<div class="container">

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2020-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>技术来源</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://angular.cn/" target="_blank">Angular权威教程</a></li>
          <li><a class="text-muted" href="https://v4.bootcss.com/" target="_blank">bootstrap中文网</a></li>
          <li><a class="text-muted">教学视频</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>关于</h5>
      </div>
    </div>
  </footer>

</div>