<div class="page">
    <div class="d-flex align-items-center login-content justify-content-center">

        <div>
            <button type="button" class="btn btn-primary">添加用户</button>

        </div>
        <div>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

        </div>
        <div>
            <button type="button" class="btn btn-primary">搜索</button>

        </div>
    </div>
</div>
<!-- <div class="container-fluid"> -->
<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">学号</th>
            <th scope="col">姓名</th>
            <th scope="col">密码</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let user of users$ | async; let i = index' (click)="select(user)">
            <th scope="row">{{i}}</th>
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
        </tr>

    </tbody>
</table> -->
<!-- </div> -->