.content {
    height: 100vh;
}
.no {
    text-decoration: none;
}
.student {
    margin: 1rem 0rem 1rem 0rem;
}
.operator-button {
    width: 4rem;
    margin: 0 1rem 0 0;
}
.page{
    width: 80%;
}
.hide {
    display: none;
}
.updatecontent{
    width: 60%;
}