<app-head></app-head>
<!-- 中间部分 -->
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">欢迎使用</h1>
            <p>本产品用于学生信息和成绩管理，方便大众使用
            </p>
            <p><a class="btn btn-primary btn-lg" role="button">试试看</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>学生登录</h2>
                <p>学生用户登录可以修改自身用户名、密码，并且查看自己的成绩</p>
                <p><a class="btn btn-primary " role="button">去登录试试看</a></p>
            </div>
            <div class="col-md-4">
                <h2>教师登录</h2>
                <p>教师登录默认登录用户名为admin，密码为admin。可添删查改学生用户信息和学生成绩</p>
                <p><a class="btn btn-primary " role="button">去登录试试看</a></p>
            </div>
        </div>

        <hr>

    </div>

</main>
<app-end></app-end>